# nothing will be tracked but the files expressed here
*

!.config/alacritty/alacritty.toml
!.config/aliases.bsd.sh
!.config/aliases.linux.sh
!.config/aliases.unix.sh
!.config/aliases.windows.sh
!.config/bash/bashrc
!.config/functions.sh
!.config/git/config
!.config/inputrc
!.config/micro/settings.json
!.config/skhd/skhdrc
!.config/termux/termux.properties
!.config/yabai/yabairc
!.config/zsh/.zshrc
!.gitignore
!.screenrc
!.vimrc
!.zshenv
!LICENSE
!README.md

