configuration {
  lines:          3;
  sidebar-mode:   false;
  hide-scrollbar: true;

  font:       "Sans 14";
  show-icons: true;
  theme:      "~/.config/rofi/arc-dark.rasi";

  terminal: "Termite";
}
